[Unit]
Description=AI Reports API Service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/diproit/ai_banker_report_web/api
ExecStart=/home/diproit/ai_banker_report_web/api/venv/bin/gunicorn --workers 4 --bind 0.0.0.0:5003 main:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target